.cart_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #dcdcdc;
}

.cart_header h1 {
  margin-bottom: 0 !important;
}

.cart_header .price {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #3c3c3c;
}

.yellow_btn {
  padding: 8px 20px;
  cursor: pointer;
  background: #ffe100;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3c3c3c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
}

.yellow_btn:hover {
  background: #e6cc0e;
}

.cart_body input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.cart_body label {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart_body .checkbox_item {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}

.cart_body .checkbox_item .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  width: 24px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  height: 24px;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart_body .checkbox_item .icon img {
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 500px) {
  .cart_body .checkbox_item .icon {
    margin-top: 20px;
  }
}

.cart_body .checkbox_item .check_body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}

.cart_body .checkbox_item .check_body .upper_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_body .checkbox_item .check_body .upper_part .img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  position: relative;
  padding-bottom: 33%;
}

.cart_body .checkbox_item .check_body .upper_part .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .item_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 24px;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .item_header .name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #3c3c3c;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .item_header .name p {
  margin-bottom: 12px;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .item_header .name .pos {
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  font-weight: 400;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .item_header .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .item_header .tags .tag_icon {
  margin-left: 15px;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .stat_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-bottom: 1px solid #dcdcdc;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .stat_part .stat_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 24px 24px;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .stat_part .stat_item p {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #3c3c3c;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .stat_part .stat_item .non_bold {
  font-weight: normal;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .stat_part .stat_item:first-child {
  border-right: 1px solid #dcdcdc;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px 24px;
  border-bottom: 1px solid #dcdcdc;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .controls .icon_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .controls .icon_item .text {
  margin-left: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #3c3c3c;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .controls .stars_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid #f2f2f2;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .controls .stars_cont .star_icon {
  margin-right: 4px;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .controls .stars_cont .star_text {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #3c3c3c;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .controls .stars_cont .star_text span {
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  font-weight: 400;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .controls .chat_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .controls .chat_cont .chat_icon {
  margin-right: 4px;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .controls .chat_cont .text {
  font-size: 12px;
  line-height: 16px;
  color: #3c3c3c;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .author_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .author_part .img_ {
  width: 60px;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .author_part .img_ img {
  width: 100%;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .author_part .text {
  margin-left: 20px;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .author_part .name {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  color: #3c3c3c;
}

.cart_body .checkbox_item .check_body .upper_part .desc_part .lower_part .author_part .role {
  font-size: 14px;
  line-height: 18px;
  color: #737373;
}

@media screen and (max-width: 650px) {
  .cart_body .checkbox_item .check_body .upper_part {
    display: block;
  }
}

.cart_body .checkbox_item .check_body .submit_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
}

.cart_body .checkbox_item .check_body .submit_part .onfo_cont .info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_body .checkbox_item .check_body .submit_part .onfo_cont .info_item .icon_ {
  margin-right: 8px;
}

.cart_body .checkbox_item .check_body .submit_part .onfo_cont .info_item .text {
  font-size: 14px;
  line-height: 18px;
  color: #e73c3e;
}

.cart_body .checkbox_item .check_body .submit_part .onfo_cont .info_item .text._blck {
  color: #3c3c3c;
}

.cart_body .checkbox_item .check_body .submit_part .onfo_cont .info_item:first-child {
  margin-bottom: 5px;
}

.cart_body .checkbox_item .check_body .submit_part .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cart_body .checkbox_item .check_body .submit_part .sub .delete {
  cursor: pointer;
  margin: 0 24px;
  font-size: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #737373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_body .checkbox_item .check_body .submit_part .sub .yellow_btn {
  padding: 8px 20px;
  cursor: pointer;
  background: #ffe100;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3c3c3c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
}

.cart_body .checkbox_item .check_body .submit_part .sub .yellow_btn:hover {
  background: #e6cc0e;
}

@media screen and (max-width: 650px) {
  .cart_body .checkbox_item .check_body .submit_part .sub {
    margin: 20px 0 0 -24px;
  }
}

@media screen and (max-width: 650px) {
  .cart_body .checkbox_item .check_body .submit_part {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .cart_body .checkbox_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 0 12px;
    border: none;
  }
}

.cart_body input:checked + label {
  border: 1px solid #4872f2;
}

.cart_body input:checked + label .icon {
  border: 1px solid #4872f2 !important;
}

.cart_body input:checked + label .icon img {
  opacity: 1 !important;
}

.card_cont {
  margin-top: 24px;
  padding-top: 32px;
  border-top: 1px solid #dcdcdc;
}

.card_cont .header_part {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #3c3c3c;
  text-align: center;
}

.card_cont .header_part span {
  font-weight: bold;
}

.card_cont .credit_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 615px;
  margin: 0 auto 30px;
}

.card_cont .credit_card .input_cont {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 0;
}

.card_cont .credit_card .front {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(410 / 590 * 100%);
          flex: 0 0 calc(410 / 590 * 100%);
  padding: 24px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 15px 20px rgba(16, 16, 16, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 15px 20px rgba(16, 16, 16, 0.15);
  border-radius: 8px;
  position: relative;
  z-index: 9;
  background: #fff;
}

.card_cont .credit_card .front .input_row {
  margin-bottom: 24px;
}

.card_cont .credit_card .front .input_row .input {
  margin: 0 10px;
  width: calc(100% - 20px);
}

.card_cont .credit_card .front .input_row .input_title {
  font-size: 14px;
  line-height: 18px;
  color: #737373;
  margin-bottom: 4px;
}

.card_cont .credit_card .front .input_row .input_cont .input input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}

.card_cont .credit_card .front .input_row:nth-child(2) .input_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 -10px;
}

.card_cont .credit_card .front .input_row:nth-child(2) .input_cont .input {
  margin: 0 10px;
}

.card_cont .credit_card .front .input_row:nth-child(2) .input_cont .input input {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .card_cont .credit_card .front .input_row:nth-child(2) .input_cont .input {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .card_cont .credit_card .front .input_row:nth-child(2) .input_cont {
    display: block;
  }
}

.card_cont .credit_card .front .input_row:nth-child(3) {
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .card_cont .credit_card .front {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
  }
}

.card_cont .credit_card .back {
  margin-left: -50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(410 / 590 * 100%);
          flex: 0 0 calc(410 / 590 * 100%);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 15px 20px rgba(16, 16, 16, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 15px 20px rgba(16, 16, 16, 0.15);
  border-radius: 8px;
}

.card_cont .credit_card .back .gray_strip {
  margin-top: 46px;
  height: 40px;
  background: #f2f2f2;
  margin-bottom: 25px;
}

.card_cont .credit_card .back .input_row {
  margin-bottom: 24px;
  max-width: 140px;
  margin: 0 24px 24px auto;
}

.card_cont .credit_card .back .input_row .input_title {
  font-size: 14px;
  line-height: 18px;
  color: #737373;
  margin-bottom: 4px;
  position: relative;
}

.card_cont .credit_card .back .input_row .input_title:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 16px;
  height: 16px;
  display: block;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("../img/info_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.card_cont .credit_card .back .input_row .input_cont .input input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 0 8px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}

.card_cont .credit_card .back .input_row .input_sup_title {
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
}

@media screen and (max-width: 600px) {
  .card_cont .credit_card .back {
    display: none;
  }
}

.card_cont .credit_controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 615px;
  margin: 0 auto;
}

.card_cont .credit_controls .left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 20px;
}

.card_cont .credit_controls .text {
  font-size: 12px;
}

@media screen and (max-width: 650px) {
  .card_cont .credit_controls {
    display: block;
  }
}
